<!--Left panel Start -->
<div class="col-xs-5 col-sm-4 col-md-3 col-lg-2" id="left_content" style="background-color: #1F1F23; color: white; padding: 0px;margin: 0px;position: relative;border-right: 2px solid #080808;border-top: 2px solid #080808;">
	<div id="search_left_menu" style="background-color: #2D2D33; height: 100%;">
		<div id="search_left_menu_top" style="background-color: #2D2D33; height: 60%;">
			<div id ="search_left_menu_top_top" style="background-color: #2D2D33; padding: 1px;height: 33px;">
				<span style="float: left; font-size: 15px; top: 9px; left: 10px; color: #00A7DC!important;" class="glyphicon glyphicon-th-list">
				</span>
				<h5 style="margin-left: 31px; font-size: 16px; font-weight: bold; letter-spacing: 1px;margin-top: 7px;">Category</h5>
			</div>
			<div id ="search_left_menu_top_bottom" style="background-color: #26262B ; overflow: auto; overflow-x: hidden;">
				<ul class = "tree_node" style="margin-left: -16px; margin-top: 0px; ">
					<!-- Start Tree Category		 -->
					<!-- End   Tree Category		 -->
				</ul>
			</div>
		</div>
		<div id="search_left_menu_bottom" style="background-color: #2D2D33;height: 40%;">
			<div id ="search_left_menu_bottom_top" style="background-color: #2D2D33; padding: 1px; height: 33px;">
				<span style="float: left; font-size: 15px; top: 9px; left: 10px; color: #00A7DC!important;" class="glyphicon glyphicon-tags">
				</span>
				<h5 style="margin-left: 31px; font-size: 16px; font-weight: bold; letter-spacing: 1px;margin-top: 7px;">Tag
					<span style="font-size: 15px; left: 10px;" class="glyphicon glyphicon-cog"></span>
				</h5>
			</div>
			<div id ="search_left_menu_bottom_bottom" style="background-color: #26262B; overflow: auto; overflow-x: hidden;" class="tag_list" id="tag_list">
				<!-- Start Tag List		 -->
				<!-- End   Tag List		 -->
			</div>
		</div>
	</div>
	<div>
		<nav class="navbar navbar-inverse" style="background-color: #333333; height: 30px; border-radius: 0px; border: none;"> 
			<span class="glyphicon glyphicon-user" style="color: #00A7DC; padding-right: 6px; padding-top: 9px; margin-left: 10px;"></span>
			<span>Hoàng Anh</span>
		</nav>
	</div>
</div>
<script type="text/javascript">
	setTimeout(function () {
      	document.getElementById('search_left_menu').style.height = ($(window).height() - (55+30+6+3)).toString()+'px';
      	var search_left_menu_height = $(window).height() - (55+30+6+3);

      	var search_left_menu_top_height = search_left_menu_height * 6/10;
      	document.getElementById('search_left_menu_top_bottom').style.height= (search_left_menu_top_height - 33).toString()+'px';

      	var search_left_menu_bottom_height = search_left_menu_height * 4/10;
		document.getElementById('search_left_menu_bottom_bottom').style.height= (search_left_menu_bottom_height - 33).toString()+'px';
    }, 1);
    window.addEventListener('resize', function(event){
    	document.getElementById('search_left_menu').style.height = ($(window).height() - (55+30+6+3)).toString()+'px';
    	var search_left_menu_height = $(window).height() - (55+30+6+3);

    	var search_left_menu_top_height = search_left_menu_height * 6/10;
      	document.getElementById('search_left_menu_top_bottom').style.height= (search_left_menu_top_height - 33).toString()+'px';

      	var search_left_menu_bottom_height = search_left_menu_height * 4/10;
		document.getElementById('search_left_menu_bottom_bottom').style.height= (search_left_menu_bottom_height - 33).toString()+'px';
	})
	// Call funtion draw Tag list
	fn_draw_tag_list();
	// Call funtion draw Tree Category
	fn_draw_category_tree();
</script>
<!-- Left panel End -->

<!-- Right panel Start -->
<div class="col-xs-7 col-sm-8 col-md-9 col-lg-10" style="border-top: 2px solid black; background-color: #1F1F23;padding: 0px;">
	<div style="height: 45px;" id='tab_bar'>
	  	<nav class="navbar navbar-inverse" style="border: none; border-radius: 0px; background-color: #333337; height: 30px; min-height: 45px;">
	      	<form class="navbar-form" action="" style=" margin-top: 5px;" onsubmit="return false;">
		        <div class="form-group">
		          	<input type="text" onkeypress="isInputNumberLetter(event)" id="search_text" style="color: white; border-radius: unset; background-color: #1F1F1F; height: 27px; width: 376px; border: 1px solid black; box-shadow: none;" class="form-control" placeholder="Enter your search word" name="search">
		        </div>
		        <button value="search" type="" class="glyphicon glyphicon-search" style="outline:none; margin-left: 5px;border-radius: 3px; height: 26px; border: none; background-color: #B0B0B0; top: 3px;" data-toggle="tooltip" data-placement="bottom" title=""></button>
		        <button value="upload" data-toggle="modal" data-target="#myModal" type="button" class="glyphicon glyphicon-open" style="outline:none; margin-left: 5px;border-radius: 3px; height: 26px; border: none; background-color: #B0B0B0; top: 3px;" data-toggle="tooltip" data-placement="bottom" title=""></button>
		        
		        <a id="content_by_list_view" class="view glyphicon glyphicon-th-list" style="cursor: pointer; text-decoration: none; outline:none; float: right; border: none; top: 7px; background-color: transparent; font-size: 15px; padding-left: 12px;" data-toggle="tooltip" data-placement="bottom" title="List View"></a>
	      		<a id="content_by_thumb_view" class="view glyphicon glyphicon-th-large active" style="cursor: pointer; text-decoration: none; outline:none; float: right; border: none; top: 7px; background-color: transparent; font-size: 16px;" data-toggle="tooltip" data-placement="bottom" title="Thumb View"></a>
		    </form>
	  	</nav>
	</div>
	<script type="text/javascript">
		// function search accept only Number and Letter
		function isInputNumberLetter(evt){
            var ch = String.fromCharCode(evt.which);
            if(!(/[a-zA-Z0-9]/.test(ch))){
                evt.preventDefault();
            }
        }
        // add class active for type view
		$( "#tab_bar a" ).click(function() {
			$( "#tab_bar a" ).removeClass('active');
			$(this).addClass('active');
			if(this.id == "content_by_thumb_view"){
				$( "#tab_image_content div.image_list" ).addClass('hidden');
				$( "#tab_image_content div.image_thumb" ).removeClass('hidden');

				$( "#tab_video_content div#video_list" ).addClass('hidden');
				$( "#tab_video_content div.video_thumb" ).removeClass('hidden');
				
			}
			if(this.id == "content_by_list_view"){
				$( "#tab_image_content div.image_list" ).removeClass('hidden');
				$( "#tab_image_content div.image_thumb" ).addClass('hidden');

				$( "#tab_video_content div#video_list" ).removeClass('hidden');
				$( "#tab_video_content div.video_thumb" ).addClass('hidden');
			}
		});
	</script>

	<!-- Modal Upload Content Start-->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog" style="padding-top: 15%;">
			<div class="modal-content">
				<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h5 class="modal-title">File Upload</h5>
		      	</div>
				<div class="modal-body">
					<form action="" method="POST" enctype="multipart/form-data" id="fileUploadForm">
						<input type="file" id="image-file" accept="image/*" multiple="true" name="myFile">
						<input type="submit" name="upload" id="btnSubmit">
						<button class="btn btn-default" type="reset">Chọn lại</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Upload Content End-->

	<!-- Modal Change Tag Color Start-->
	<!-- Modal Change Tag Color End-->

	<div id="search_right_menu" style="background-color: #2D2D33; border: 1px solid red;">
		<!-- Tab Menu Start-->
		<!-- Tab Menu End-->

		<!-- Tab Menu Content Start-->
		<!-- Tag Menu Content End-->
	</div>
  	
	<div>
		<nav class="navbar navbar-inverse" style="background-color: #333333; height: 30px; border-radius: 0px; border: none;">  
	</nav>
	</div>
</div>
<script type="text/javascript">
	setTimeout(function () {
      	document.getElementById('search_right_menu').style.height = ($(window).height() - (55+45+30+6+3)).toString()+'px';
    }, 1);
    window.addEventListener('resize', function(event){
    	document.getElementById('search_right_menu').style.height = ($(window).height() - (55+45+30+6+3)).toString()+'px';
	})
	// Call funtion draw Tag list
	fn_draw_tag_list();
	// Call funtion draw Tree Category
	fn_draw_category_tree();
</script>
<!-- Right panel End-->
<script src="http://localhost/Study_Again/java/Demo_project_java_UI/admin/js/form.js"></script>