/*Start Style for Top menu*/
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav.cls_top_menu a:hover {
    color: #00A7DC !important;
    background-color: #1F1F23 !important;
}
/*End Style for Top menu*/

/*Start Style for Tag Conten*/
.tag_list div span{
    color: #b0b0b0;
}

.tag_list>div:hover{
    background-color: #00A7DC !important;
}

div.active_tag{
    background-color: #00A7DC !important;
}

div.active_tag span{
    color: white !important;
}

.navbar-form  button.glyphicon.glyphicon-open:hover,.navbar-form  button.glyphicon.glyphicon-search:hover{
    background-color: #00A7DC !important;
}
/*End Style for Tag Conten*/


/*Tree Node Start*/
ul.tree_node>li{
    margin-left: -14px;
    padding-left: 10px;
}

ul.tree_node li a.item_close{
    list-style-type: none !important;
    position: relative !important;
    background-image: url(../images/icon/leaf.gif) !important;
    padding-left: 22px;
    background-repeat: no-repeat;
}

ul.tree_node li a.item_open{
    list-style-type: none !important;
    position: relative !important;
    background-image: url(../images/icon/open.gif) !important;
    padding-left: 22px;
    background-repeat: no-repeat;
}

ul.tree_node li span{
    color: #b0b0b0;
}

ul.tree_node li, ul.file_upload_infor li{
    list-style-type: none;
}

ul.tree_node div.item_close ~ ul{
    display: none;
}

ul.tree_node li a {
    text-decoration: none;
    color: white;
}

li.item_close>ul{
    display: none;
}

.cls_active_item{
    background-color: #00A7DC !important;
}

div.cls_active_item span{
    color: white !important;
    background-color: #00A7DC !important;
}

.cls_child_node{
    margin-left: -182px;
    padding-left: 173px;
}
ul.tree_node div.cls_child_node:hover{
    background-color: #00A7DC !important;
}
/*Tree Node End*/

body {   
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*Style for Scrollbar Start*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1F1F23; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #6A6A73;
    border-radius: 20px;
}

/*Style for Scrollbar End*/

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav.cls_top_menu a:hover {
    color: #00A7DC !important;
    background-color: #1F1F23 !important;
}

#search_text::placeholder {
    color: white !important;
    font-size: 13px;
    opacity: 1 !important;
}

input#search_text:focus { 
    background-color: #00A7DC !important;
    border: 1px solid white !important;
    color: white !important;
}

#tab_bar a.active{
    color: #00A7DC !important;
}

.glyphicon-th-list, .glyphicon-th-large{
    color: white !important;
}

#slidecontainer .slider {
    -webkit-appearance: none;
    width: 20%;
    height: 5px;
    background: #DDDAD7;
    outline: none;
}
#slidecontainer .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 5px;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #15A4FA;
    cursor: pointer;
}
#myRange{
    width: 155px;
    float: right;
    margin-right: 13px;
}

.nav-tabs>li>a {
    color: #b0b0b0;
    border: none !important;
    padding: 3px 10px;
    margin-top: 16px;
    background-color: #262632 ;
    border-radius: 5px 5px 0px 0px;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover{
    color: white;
    background-color: #00A7DC;
    border-bottom-color: transparent;
    cursor: default;
    border: none !important;
    padding: 3px 10px;
    margin-top: 16px;
}